html {
  height: 100%;
  background-image: url("./assets/paper-texture.png");
  background-size: cover;
}

body {
  margin: 0;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

.step1 {
  grid-row: 1 / span 1;
  grid-column: 1 / span 4;
}

.step2 {
  grid-row: 1 / span 1;
  grid-column: 5 / span 4;
}

.step3 {
  grid-row: 1 / span 4;
  grid-column: 8 / span 1;
}

.step4 {
  grid-row: 5 / span 4;
  grid-column: 8 / span 1;
}

.step5 {
  grid-row: 8 / span 1;
  grid-column: 5 / span 4;
}

.step6 {
  grid-row: 8 / span 1;
  grid-column: 1 / span 4;
}

.step7 {
  grid-row: 5 / span 4;
  grid-column: 1 / span 1;
}

.step8 {
  grid-row: 1 / span 4;
  grid-column: 1 / span 1;
}

.has-background {
  background-color: red;
}
